@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,
body {
    font-family: 'Raleway', sans-serif;
    line-height: 1.4;
    color: $light;
    background: $deep_dark;
    > div {
        padding: 40px 0;
    }
}
a,
button,
input,
select,
textarea {
    outline: 0;
    &:focus {
        outline: 0;
    }
}
ul {
    list-style: none;
}
img {
    max-width: 100%;
    height: auto;
}
a {
    text-decoration: none;
}
