.page {
    border-radius: 10px;
    background: $dark2;
    &-header,
    &-content {
        padding: 15px;
    }
    &-header {
        text-align: right;
    }
    &-content {
        border-top: 1px solid $grey;
    }
    .content-header {
        display: flex;
        align-items: center;
        h3 {
            margin-right: auto;
        }
        .btn {
            margin-right: 10px;
        }
        input {
            width: 200px;
        }
    }
}

.login {
    max-width: 300px;
    margin: 100px auto 0;
    border-radius: 15px;
    background: $dark;
    padding: 15px;
    .btn {
        width: 100%;
    }
}
.page-title {
    font-size: 18px;
}
