.modal {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(0, -50%);
    &-header,
    &-body,
    &-footer {
        padding: 10px;
    }
    &-dialog {
        border-radius: 15px;
        background: $light;
        overflow: hidden;
    }
}
