.sidebar {
    background: $dark;
    padding: 10px;
    border-radius: 10px;
    a,
    span {
        display: block;
        cursor: pointer;
    }
    a {
        color: $light;
        padding: 5px;
        border-radius: 5px;
        &.active {
            background: $dark2;
        }
    }
    .logout {
        color: $danger;
        margin: 10px 5px 0;
        padding: 10px 0 0;
        border-top: 1px solid $grey;
    }
}
