.table-responsive {
    width: 100%;
    overflow-x: auto;
}
.table-wrapper {
    border-radius: 10px;
    overflow: hidden;
}
table {
    width: 100%;
    text-align: left;
    background: $dark2;
    border-collapse: collapse;
    thead {
        font-weight: 600;
        background: $dark;
    }
    th,
    td {
        padding: 10px;
        border-bottom: 1px solid $dark;
        white-space: nowrap;
    }
    tbody {
        tr {
            &:last-child {
                td {
                    border: 0;
                }
            }
            &:nth-child(odd) {
                background: $grey;
            }
        }
    }
}
